@height: 20px;

.editable-field {
  .line-height(@height);
  position: relative;
  display: flex;
  width: 200px;
  font-size: 14px;
  .input {
    display: inline-block;
  }
  .field {
    display: inline-block;
    width: 100%;
  }
  .text {
    .ellipsis();
    display: inline-block;
    max-width: calc(100% - 36px);
    margin: 0 10px 0 0;
  }
  .field-icon {
    .line-height(inherit);
    display: inline-block;
    font-size: 20px;
  }
  .btn-icon {
    .line-height(inherit);
    display: inline-block;
    vertical-align: top;
    &:hover {
      color: #1890ff;
    }
  }
}
