.user-info-page {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 200%;
  padding: 20px;
  overflow: auto;
  .left-part {
    flex: 1;
    margin-right: 20px;
  }
  .right-part {
    .bgc(white);
    flex: 4;
    padding: 40px;
  }
}
