.app-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app-header {
  .bgc(white);
  .line-height(@header-height);
  display: flex;
  padding: 0 20px;
  .left, .right {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .left {
    justify-content: flex-start;
  }
  .right {
    justify-content: flex-end;
  }
  .app-menu {
    font-size: 22px;
  }
  .header-part {
    margin: 0 20px;
  }
  .header-icon {
    font-size: 20px;
  }
}

.app-breadcrumb {
  .line-height(48px);
  display: inline-block;
  padding: 0 20px;
}

.app-main {
  .bgc(#f0f2f5);
  width: 100%;
  height: 100%;
  overflow: auto;
}
