.picture-viewer-page {
  .full-view();
  position: relative;
  padding-top: 20px;
  .swiper-container {
    .bgc(rgba(0, 0, 0, 0.8));
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    padding: 20px 0;
  }
  .swiper-slide {
    .bgc(white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
  }
}
